@reference "tailwindcss";

li {
  position: relative;
  /* @apply bg-amber-500; */
  &::before {
    content: "";
    position: absolute;
    top: 6px;
    left: -30px;
    background-color: #0466c8;

    mask-image: url("./../assets/circle-check.svg");

    mask-size: contain;
    mask-repeat: no-repeat;
    width: 20px;
    height: 20px;
  }
}
