@import "tailwindcss";
:root {
  --background: #06182a;
}
body {
  color: #fff;
  /* background-color: red;  */
}
.navbar {
}
.pagination.is-active {
  background-color: #fff;
  color: rgb(21, 21, 21);
}
